.toolbar-label {
  margin-right: 30px;
}

.main-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu,
.right-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  .menu-item {
    .menu-item-link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 16px;
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      font-size: 1rem;
    }
    &.active {
      .menu-item-link {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}
