<main>
  <section class="home-content">
    <img src="assets/svg/angular.svg" alt="Angular Logo">
    <h1>Server Side Rendering with NestJS</h1>
    <p>
      I explained step by step how to do angular SSR with NestJS of this project in the <a href="https://kodumunblogu.net/detail/angular-universal-nestjs-ile-server-side-rendering" target="_blank" title="Kodumunblogu.net - Angular Universal - NestJS ile Server Side Rendering">kodumunblogu.net</a> blog.
    </p>
  </section>
  <section class="logos">
    <img src="assets/svg/universal.svg" alt="Universal">
    <a href="https://nestjs.com/" target="_blank" title="NestJS"><img src="assets/svg/logo-nestjs.svg" alt="NestJS"></a>
  </section>
</main>
