.home-content {
  padding-bottom: 60px;
  text-align: center;
  img {
    width: 120px;
    height: 120px;
  }
}

.logos {
  text-align: center;
  img {
    width: 90px;
    height: 90px;
    margin: 0 30px;
  }
}
