.user-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.user {
  display: inline-block;
  margin-bottom: 40px;
  flex: 0 0 25%;
  .user-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
    .user-avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .user-name {
      color: #444;
      transition: .3s;
    }
    &:hover {
      .user-name {
        color: #4050b5;
      }
    }
  }
  .email {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #7b7b7b;
    img {
      margin-right: 6px;
      width: 12px;
      height: 12px;
    }
  }
}
